@charset "ISO-8859-1";

body {
	background-color: black;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: end;
	max-width: 2000px;
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: #bf100a;
	margin: auto;
}

#logo {
	padding-left: 10px;
	height: 25px;
}

#desc {
	color: white;
	font-size: 17px;
}